.h1 {
    font-family: "Bruno Ace SC";
    font-weight: 400;
    font-size: 128px;
    text-transform: uppercase;
    color: #000;
}

.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.border {
    border-bottom: 2px solid #000;
}

.paddingLeft {
    padding-left: 40px;
}

.paddingTop {
    padding-top: 52px;
}