.container {
    display: grid;
    grid-template-columns: 437px 854px 436px;
    grid-template-rows: 292px 735px;
    grid-template-areas:
        "title caption ourTeam"
        "industries topProduct clients";
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin-bottom: 200px;
}

.cell11 {
    grid-area: title;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.arrow11 {
    align-self: flex-end;
    transform: translateY(-75%);
}

.cell12 {
    grid-area: caption;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

.text12 {
    margin-top: 36px;
    color: #000;
}

.cell13 {
    grid-area: ourTeam;
    padding-right: 39px;
    padding-top: 51px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}

.h3cell13 {
    margin-bottom: 24px;
}

.threeImgs {
    align-self: flex-start;
    margin-left: 63px;
    position: relative;
}

.arrow13 {
    margin: auto 0;
    transform: translateY(50%);
}

.cell21 {
    grid-area: industries;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 136px 10px 166px 28px;
}

.cell22 {
    grid-area: topProduct;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #000;
}

.catalog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-250%, -175%);
}

.text22 {
    margin-top: 100px;
    align-self: flex-start;
}

.cell23 {
    grid-area: clients;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 139px 41px 163px 0;
}