.container {
    border-radius: 200px;
    margin-top: 163px;
    width: 814px;
    height: 355px;
    background-image: url(../../../images/paint.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.text {
    color: #fff;
}