.container {
    /* TODO: margin */
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 882px 274px 116px 20px 303px 24px 229px;
    grid-template-rows: 208px 154px;
    grid-template-areas:
        "title1 border11 border12 . caption . contactUs"
        "title2 border21 . . caption . contactUs";
    justify-content: center;
    justify-items: stretch;
    align-items: center;
}

.caption {
    background-color: #fff;
    grid-area: caption;
    text-align: right;
}

.border11 {
    grid-area: border11;
    align-self: stretch;
    border-bottom: 2px solid #000;
    border-right: 2px solid #000;
}

.border12 {
    grid-area: border12;
    position: relative;
    align-self: stretch;
    border-bottom: 2px solid #000;
}

.border12::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 100%;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 6px solid #000;
}

.border21 {
    grid-area: border21;
    align-self: stretch;
    position: relative;
    border-right: 2px solid #000;
}

.border21::after {
    position: absolute;
    content: '';
    right: -5px;
    bottom: -6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #000;
}